doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Сайдбар ученика
    body
        .container__sidebar.grid
            sidebar.sidebar 
                a.sidebar__logo(href="../studentMain.html") ЛОГОтип
                ul.sidebar__menu.flex.flex-col
                    li.sidebar__items-menu
                        a.sidebar__home-link#main-student(href="../studentMain.html") Главная
                    li.sidebar__items-menu
                        a.sidebar__task-link#myVar-student(href="../studentTask.html") Мои варианты
                    li.sidebar__items-menu  
                        a.sidebar__result-link#result(href="../studentResult.html") Мои результаты     
                a.sidebar__exit(href="../index.html") Выйти 
                    mixin icon(name)
                        svg(class=`icon icon-${name}`)
                            use(xlink:href=`assets/images/sprite.svg#${name}`)
                    +icon("exit")
        script(src="assets/js/linkOpenPage.min.js")
