section.teacher__var-new 
    .teacher__var-container.grid
        .teacher__var-item.var-item.grid
            .var-item__number.flex 8
            p.var-item__name Методы поиска экстремумов функции
            .stud-var-item__status-end
                .stud-var-item__status-end_point
                p.stud-var-item__status-new_text Завершен
            p.var-item__period 16 Сентября • 18 Сентября
            .var-item__progress.flex
                .var-item__progress-bar
                .var-item__progress-digit 11 из 32
        .teacher__var-item.var-item.grid
            .var-item__number.flex 8
            p.var-item__name Методы поиска экстремумов функции
            .stud-var-item__status-end
                .stud-var-item__status-end_point
                p.stud-var-item__status-new_text Завершен
            p.var-item__period 16 Сентября • 18 Сентября
            .var-item__progress.flex
                .var-item__progress-bar
                .var-item__progress-digit 11 из 32
        .teacher__var-item.var-item.grid
            .var-item__number.flex 8
            p.var-item__name Методы поиска экстремумов функции
            .stud-var-item__status-end
                .stud-var-item__status-end_point
                p.stud-var-item__status-new_text Завершен
            p.var-item__period 16 Сентября • 18 Сентября
            .var-item__progress.flex
                .var-item__progress-bar
                .var-item__progress-digit 11 из 32
