.lk__icons.flex                
    a(href="#").box-message
        img.message-svg(src="assets/images/box-message.svg")
    .lk__icons-line
    a(href="#").icon-lk
        img.lk-svg(src="assets/images/lk.svg")