section.teacher__var-new 
    .teacher__var-container.grid 
        .teacher__var-item.var-item.grid
            .var-item__number.flex 11
            p.var-item__name ООП. Классы и объекты
            .stud-var-item__status-new
                .stud-var-item__status-new_point
                p.stud-var-item__status-new_text Новый вариант
            p.var-item__period до конца 23 дня, 14 часов
            .var-item__progress.flex
                .var-item__progress-bar
                .var-item__progress-digit 1 из 3
        .teacher__var-item.var-item.grid
            .var-item__number.flex 11
            p.var-item__name ООП. Классы и объекты
            .stud-var-item__status-new
                .stud-var-item__status-new_point
                p.stud-var-item__status-new_text Новый вариант
            p.var-item__period до конца 23 дня, 14 часов
            .var-item__progress.flex
                .var-item__progress-bar
                .var-item__progress-digit 1 из 3
        .teacher__var-item.var-item.grid
            .var-item__number.flex 11
            p.var-item__name Методы поиска экстремумов функции
            .stud-var-item__status-active
                .stud-var-item__status-active_point
                p.stud-var-item__status-new_text Активен
            p.var-item__period до конца 23 дня, 14 часов
            .var-item__progress.flex
                .var-item__progress-bar
                .var-item__progress-digit 11 из 32
        .teacher__var-item.var-item.grid
            .var-item__number.flex 11
            p.var-item__name Методы поиска экстремумов функции
            .stud-var-item__status-active
                .stud-var-item__status-active_point
                p.stud-var-item__status-new_text Активен
            p.var-item__period до конца 23 дня, 14 часов
            .var-item__progress.flex
                .var-item__progress-bar
                .var-item__progress-digit 11 из 32
        .teacher__var-item.var-item.grid
            .var-item__number.flex 8
            p.var-item__name Методы поиска экстремумов функции
            .stud-var-item__status-end
                .stud-var-item__status-end_point
                p.stud-var-item__status-new_text Завершен
            p.var-item__period 16 Сентября • 18 Сентября
            .var-item__progress.flex
                .var-item__progress-bar
                .var-item__progress-digit 11 из 32
        .teacher__var-item.var-item.grid
            .var-item__number.flex 8
            p.var-item__name Методы поиска экстремумов функции
            .stud-var-item__status-end
                .stud-var-item__status-end_point
                p.stud-var-item__status-new_text Завершен
            p.var-item__period 16 Сентября • 18 Сентября
            .var-item__progress.flex
                .var-item__progress-bar
                .var-item__progress-digit 11 из 32
        .teacher__var-item.var-item.grid
            .var-item__number.flex 8
            p.var-item__name Методы поиска экстремумов функции
            .stud-var-item__status-end
                .stud-var-item__status-end_point
                p.stud-var-item__status-new_text Завершен
            p.var-item__period 16 Сентября • 18 Сентября
            .var-item__progress.flex
                .var-item__progress-bar
                .var-item__progress-digit 11 из 32
