.container__sidebar.grid
    include ../sidebar/sidebarTeacher.pug
    section.lk__main
        section.lk__header.flex 
            a(href="../teacherMain.html").lk__text Главная
            include ../teacher/headerContent.pug
        .lk__line_end
        section.lk__fio-block.grid
            h1.lk__fio Фамилия Имя<br>Отчество
            .lk__bg
        .lk__line_end
        h2.lk__var-text Недавно добавленные варианты
        section.teacher__var-new 
            .teacher__var-container.grid 
                .teacher__var-item.var-item.grid
                    .var-item__number.flex 11
                    p.var-item__name Методы поиска экстремумов функции
                    .stud-var-item__status-new
                        .stud-var-item__status-new_point
                        p.stud-var-item__status-new_text Новый вариант
                    p.var-item__period до конца 23 дня, 14 часов
                    .var-item__progress.flex
                        .var-item__progress-bar
                        .var-item__progress-digit 11 из 32
                .teacher__var-item.var-item.grid
                    .var-item__number.flex 10
                    p.var-item__name Методы поиска экстремумов функции
                    .stud-var-item__status-new
                        .stud-var-item__status-new_point
                        p.stud-var-item__status-new_text Новый вариант
                    p.var-item__period до конца 23 дня, 14 часов
                    .var-item__progress.flex
                        .var-item__progress-bar
                        .var-item__progress-digit 11 из 32
                .teacher__var-item.var-item.grid
                    .var-item__number.flex 9
                    p.var-item__name ООП. Классы и объекты
                    .stud-var-item__status-new
                        .stud-var-item__status-new_point
                        p.stud-var-item__status-new_text Новый вариант
                    p.var-item__period до конца 23 дня, 14 часов
                    .var-item__progress.flex
                        .var-item__progress-bar
                        .var-item__progress-digit 1 из 3
                .teacher__var-item.var-item.grid
                    .var-item__number.flex 8
                    p.var-item__name Методы поиска экстремумов функции
                    .stud-var-item__status-new
                        .stud-var-item__status-new_point
                        p.stud-var-item__status-new_text Новый вариант
                    p.var-item__period до конца 23 дня, 14 часов
                    .var-item__progress.flex
                        .var-item__progress-bar
                        .var-item__progress-digit 11 из 32
