doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Основной блок задач
    body
        section.stud-var-item.grid
            .stud-var-item__header.grid
                .stud-var-item__number.flex 7
                .stud-var-item__status-active
                    .stud-var-item__status-active_point
                    p.stud-var-item__status-new_text Активен
                .stud-var-item__date до 12 сентября
            .stud-var-item__name Полезные библиотеки типа itertools, collections и тому подо...
            .stud-var-item__numbers.grid
                .stud-var-item__numbers_num.flex 1
                .stud-var-item__numbers_num-red.flex 2
                .stud-var-item__numbers_num.flex 3
                .stud-var-item__numbers_num-green.flex 4
                .stud-var-item__numbers_num-green.flex 5
                .stud-var-item__numbers_num-green.flex 6
                .stud-var-item__numbers_num.flex 7
                .stud-var-item__numbers_num.flex 8
                .stud-var-item__numbers_num.flex 9
                .stud-var-item__numbers_num.flex 10
                .stud-var-item__numbers_num.flex 11
                .stud-var-item__numbers_num-green.flex 12
                .stud-var-item__numbers_num.flex 13
                .stud-var-item__numbers_num.flex 14
                .stud-var-item__numbers_num.flex 15
            a(href="../solveTask.html").stud-var-item__button.flex Продолжить

