doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Основной блок задач
    body
        section.stud-var-item.grid
            .stud-var-item__header.grid
                .stud-var-item__number.flex 1
                .stud-var-item__status-new
                    .stud-var-item__status-new_point
                    p.stud-var-item__status-new_text Новый вариант
                .stud-var-item__date с 15 июля
            .stud-var-item__name ООП. Классы и объекты.
            .stud-var-item__numbers.grid
                .stud-var-item__numbers_num.flex 1
                .stud-var-item__numbers_num.flex 2
                .stud-var-item__numbers_num.flex 3
                .stud-var-item__numbers_num.flex 4
                .stud-var-item__numbers_num.flex 5
                .stud-var-item__numbers_num.flex 6
                .stud-var-item__numbers_num.flex 7
                .stud-var-item__numbers_num.flex 8
                .stud-var-item__numbers_num.flex 9
                .stud-var-item__numbers_num.flex 10
                .stud-var-item__numbers_num.flex 11
                .stud-var-item__numbers_num.flex 12
                .stud-var-item__numbers_num.flex 13
                .stud-var-item__numbers_num.flex 14
                .stud-var-item__numbers_num.flex 15
            a(href="#").stud-var-item__button.flex Начать

